*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #1d0041;
}

#to-homePage, #to-newsPage, #to-heroesPage, #to-registerPage, #to-esportPage, #to-homePage-NoKa3{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

#to-heroesPage{
    text-decoration: underline;
}

#to-homePage, #to-newsPage, #to-heroesPage, #to-registerPage, #to-esportPage{
    padding-right: 1rem;
}

.navbar{
    width: 100vw;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    padding-top: 1.8rem;
    position: fixed;
    z-index: 1;
    font-size: 20px;
}

.left-navbar{
    padding-left: 6rem;
    
}

.right-navbar{
    padding-right: 6rem;
}

.header{
    background-image: url(./backgroundImage/redWallpaper.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 15rem;
}

#title-news{
    text-align: center;
    color: white;
}

.content {
    color: rgb(235, 74, 74);
    margin: 80px;
}

.content h2 {
    font-size: 34px;
    padding-bottom: 60px;
}

.power {
    margin-left: 80px;
    /* font-size: 30px; */
    /* line-height: 60px; */
}

.power .powerName {
    font-size: 24px;
}

.heroesDesc {
    display: flex;
    margin: 50px;
    padding-left: 60px;
}

.heroesDesc img {
    width: 50%;
    height: auto;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.heroesDesc img:hover {
    transform: scale(1.05);
}

.heroesDesc .desc {
    padding-left: 80px;
    width: 45%;
}

.heroesDesc .desc h3 {
    font-size: 30px;
}

.heroesDesc .desc p {
    font-size: 24px;
    color: white;
}

.footer{
    width: 98.72vw;
    height: 50px;
    background-color: #391764;
}

#footer-title{
    color: whitesmoke;
    padding-left: 1rem;
    padding-top: 1rem;
}

@media only screen and (max-width: 800px){
    .left-navbar{
        padding-left: 3rem;
    }

    .right-navbar{
        padding-right: 3rem;
    }

    .navbar{
        font-size: 16px;
    }

    .heroesDesc {
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        padding-left: 0rem;
    }
    
    .heroesDesc img {
        width: 70vw;
        
    }
    
    .heroesDesc .desc {
        padding-left: 0px;
        width: 100%;
    }
}