*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #1d0041;
}

#to-homePage, #to-newsPage, #to-heroesPage, #to-registerPage, #to-esportPage, #to-homePage-NoKa3{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

#to-homePage, #to-newsPage, #to-heroesPage, #to-registerPage, #to-esportPage{
    padding-right: 1rem;
}

.navbar{
    width: 100vw;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    padding-top: 1.8rem;
    position: fixed;
    z-index: 1;
    font-size: 20px;
}

.left-navbar{
    padding-left: 6rem;
    
}

.right-navbar{
    padding-right: 6rem;
}

.header{
    background-image: url(./backgroundImage/redWallpaper.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 15rem;
}

#title-news{
    text-align: center;
    color: white;
}

.back-to-register{
    width: 30vw;
    height: 60px;
    background-color: #F55252;
    border-radius: 50px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 33rem;
    text-align: center;
    padding-top: 1rem;
    
    
}

#back{

    color: whitesmoke;
    font-size: 1.9rem;
    text-decoration: none;
    text-align: center;
}



.footer{
    width: 98.72vw;
    height: 50px;
    background-color: #391764;
}

#footer-title{
    color: whitesmoke;
    padding-left: 1rem;
    padding-top: 1rem;
}

@media only screen and (max-width: 800px){
    .left-navbar{
        padding-left: 3rem;
    }

    .right-navbar{
        padding-right: 3rem;
    }

    .navbar{
        font-size: 16px;
    }

    .back-to-register {
        margin-left: 17rem;
    }
    
    #back {
        font-size: 1.5rem;
    }

}